        <div class="col-sm-2 col-12" style="padding: 0px 10px; ">
            <div class="col-12 admin-side"  style="height: 260px">
                <!-- 为左侧菜单栏添加正确的超链接 -->
                <ul id="admin-content"  style="padding-top: 50px" >
                    <li><a href="/admin"><span class="oi oi-image" aria-hidden="true"></span>&nbsp;&nbsp;文章管理</a></li>
                    <li><a href="/admin/adminComment"><span class="oi oi-task" aria-hidden="true"></span>&nbsp;&nbsp;评论管理
                    </a></li>
                    <li><a href="/admin/user"><span class="oi oi-person" aria-hidden="true"></span>&nbsp;&nbsp;用户管理</a></li>
<!--                    <li><a href="/admin/credit"><span class="oi oi-yen" aria-hidden="true"></span>&nbsp;&nbsp;积分管理</a></li>-->
<!--                    <li><a href="/admin/favorite"><span class="oi oi-heart" aria-hidden="true"></span>&nbsp;&nbsp;收藏管理</a></li>-->
<!--                    <li><a href="/admin/recommend"><span class="oi oi-account-login" aria-hidden="true"></span>&nbsp;&nbsp;推荐管理</a></li>-->
<!--                    <li><a href="/admin/hide"><span class="oi oi-eye" aria-hidden="true"></span>&nbsp;&nbsp;隐藏管理</a></li>-->
<!--                    <li><a href="/admin/check"><span class="oi oi-zoom-in" aria-hidden="true"></span>&nbsp;&nbsp;投稿审核</a></li>-->
                </ul>
            </div>
        </div>